/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2016, 5:52:30 PM
    Author     : Nick
*/

body {

    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    text-align: center;
}